:host {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

md-combobox {
  width: 100%;
}

md-combobox::part(combobox) {
  width: 100%;
}
md-combobox::part(group) {
  overflow: auto;
  min-height: 2rem;
  max-height: 3.25rem;
  border-radius: 0.75rem;
}
md-combobox::part(multiwrap) {
  flex-wrap: wrap;
}
md-combobox::part(combobox-options) {
  z-index: 1000;
}

md-button {
  display: inline-block;

  md-icon {
    width: 8px;
  }
}

md-button::part(button-children) {
  align-items: flex-start;
}

md-icon::part(icon) {
  top: 1px;
  right: 3px;
}

md-combobox {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 0.75rem;
  transform: translateX(200%);
  transition: all ease-out 250ms;
  z-index: 2;
  margin: 0 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0px 1px rgba(0, 0, 0, 0.18);

  &.expanded {
    overflow: visible;
    transform: translateX(0);
  }
}
