.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.25rem;
}

md-button {
  display: inline-block;
  margin-bottom: 0.5rem;
}

md-button::part(button-children) {
  align-items: flex-start;
}

md-icon::part(icon) {
  top: 1px;
  right: 3px;
}
