.filter-buttons {
  width: 100%;
  padding: 1rem 0;

  md-combobox {
    width: 100%;
  }

  md-combobox::part(group) {
    overflow: scroll;
    min-height: 2rem;
    max-height: 4rem;
  }
  md-combobox::part(multiwrap) {
    flex-wrap: wrap;
  }
  md-combobox::part(combobox-options) {
    z-index: 1000;
  }
}

md-button {
  display: inline-block;
  margin-bottom: 0.5rem;
}

md-button::part(button-children) {
  align-items: flex-start;
}

md-icon::part(icon) {
  top: 1px;
  right: 3px;
}
